.game-page {
    margin-top: 20px;
}

.game-page .game-thumbnail {
    width: 100%;
    height: auto;
}

.game-page .game-details {
    margin-top: 20px;
}

.game-screenshot {
    cursor: pointer;
    margin-bottom: 10px;
}

.game-page .modal-dialog {
    max-width: 90%;
}

.game-page .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
