.game-page {
    background: url("../../public/bg-white1.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    padding-top: 20px;
}

.game-page-container {
    margin-top: 20px;
}

.game-page-container .game-thumbnail {
    width: 100%;
    height: auto;
}

.game-page-container .game-details {
    margin-top: 20px;
}

.game-screenshot {
    cursor: pointer;
    margin-bottom: 10px;
}

.game-page-container .modal-dialog {
    max-width: 90%;
}

.game-page-container .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
